<mat-toolbar>

    <button routerLink="/" mat-icon-button aria-label="Home icon">
      <mat-icon>home</mat-icon>
    </button>

    <button *ngIf="cart$ | async as cart" [matBadgeHidden]="!cart.totalItemsCount" [matBadge]="cart.totalItemsCount"
      matBadgePosition="after" matBadgeColor="accent" routerLink="/shopping-cart" mat-button>
      Shopping Cart
    </button>

    <ng-template #anonymousUser>
      <button routerLink="/login" mat-button>
        Login
      </button>
    </ng-template>
    <ng-container *ngIf="appUser; else anonymousUser">
      <button mat-button [matMenuTriggerFor]="usernameMenu">
        {{ appUser.name }}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #usernameMenu="matMenu" yPosition="below">
        <button routerLink="/my/orders" mat-menu-item>My Orders</button>
        <ng-container *ngIf="appUser.isAdmin">
          <button routerLink="/admin/orders" mat-menu-item>Manage Orders</button>
          <button routerLink="/admin/products" mat-menu-item>Manage Products</button>
        </ng-container>
        <button (click)="logout()" mat-menu-item>Log Out</button>
      </mat-menu>
    </ng-container>


</mat-toolbar>