<mat-card *ngIf="product.title || hasValidImgUrl()">
    <img *ngIf="hasValidImgUrl()" mat-card-image [src]="product.imageUrl" alt="{{ product.title }}">
    <mat-card-header>
        <mat-card-title>{{ product.title }}</mat-card-title>
        <mat-card-subtitle class="product-price"> {{ product.price | currency:'USD':'symbol' }}
        </mat-card-subtitle>
    </mat-card-header>
    <div id="actions" *ngIf="showActions && shoppingCart">
        <button
            *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
            (click)="addToCart()" mat-button>
            ADD TO CART
        </button>
        
        <ng-template #updateQuantity>
            <product-quantity [product]="product" [shopping-cart]="shoppingCart">
            </product-quantity>
        </ng-template>
    </div>
</mat-card>